/* font-family: 'Bellefair', serif;
font-family: 'Barlow Condensed', sans-serif;
 */
* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
}
body {
  background-image: url("../home/background-home-desktop.jpg");
  background-size: cover;
}
a {
  text-decoration: none;
}
.Nav-logo {
  margin-left: 4rem;
  font-size: 700;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.Nav-logo span{
    color: #fff;
}
.nav-section li {
  text-decoration: none;
      padding: 1.4rem 1rem;
}


.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  font-family: "Barlow Condensed", sans-serif !important;
  font-weight: 510;
  font-size: 18px;
  background-color: rgba(165, 165, 165, 0.322);
  padding-right: 8rem;
  padding-left: 5rem;
  color: #fff;
}

.nav a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav-section li a:hover{
  border-bottom: solid 2px #fff;
}
.nav-section li a:active{
  border-bottom: solid 2px #fff;
}

.nav a span {
  font-weight: 700;
  margin-right: 3px ;
}


/* HOME BODY SECTION STARTS */
.home-container {
  margin-top: 10rem;
}
.home-container h1 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 150px;
  color: #fff;
  margin-top: 19px;
}
.home-container h5 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: #d0d6f9;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 6px;
}
.home-container p {
  color: #b0bcff;
  font-weight: 400;
  font-size: 18px;
}
.home-container .explore {
  background-color: #fff;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  margin-top: 32% ;
  margin-left: 40% ;
  position: relative;
}
.home-container .explore p.explore-text {
  color: black;
  font-size: 30px;
  text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* margin-top: 70%; */


  /* position: absolute; */
}
